################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/OrientacaoAObjetos/OrientacaoAObjetos/bin/Debug
/OrientacaoAObjetos/OrientacaoAObjetos/obj/Debug
